
<div id="risparmio" class="overlay"
     aria-labelledby="Overlay Risparmio Energetico"
     aria-modal="true">
    <div class="overlay-content">
        <img alt="Logo" class="rl-logo" src="_content/Blueteam.Components.GreenScreen/images/logo.svg">
        <div class="headline-risparmio">RISPETTARE L&rsquo;AMBIENTE ANCHE CON PICCOLI GESTI</div>
        <div class="testo-risparmio">
            <p dir="ltr">Questa schermata consente al tuo monitor di consumare meno energia quando il computer sta inattivo o quando ti allontani.</p>

            <p dir="ltr">Per riprendere la navigazione ti basterà cliccare un punto qualsiasi dello schermo.</p>
        </div>
        <img alt="Leaf image" class="foglia-logo" src="_content/Blueteam.Components.GreenScreen/images/foglia_rl_risparmio.svg">
    </div>
</div>
<div class="hidden" id="risparmioTime">120</div>